/.vscode/

# build dir
build/debug/AsciiHandler.obj

*.exe
*.obj
*.pbd
*.idb
build/debug/AsciiHandler.obj
build/debug/Cursor.obj
build/debug/main.obj
build/debug/MainMenu.obj
build/debug/Scene.obj
build/debug/SceneHandler.obj
build/debug/StarTravellerC.exe
structure.codediagram
